<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="copy">
<!-- 2016 &copy;   Footer contents goes here -->
<!-- Placed js at the end of the document so the pages load faster -->
<script src="resources/js/jquery-1.10.2.min.js" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
<script src="resources/js/jquery-ui-1.9.2.custom.min.js" th:src="@{/resources/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script src="resources/js/jquery-migrate-1.2.1.min.js" th:src="@{/resources/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="resources/js/modernizr.min.js" th:src="@{/resources/js/modernizr.min.js}"></script>
<script src="resources/js/jquery.nicescroll.js" th:src="@{/resources/js/jquery.nicescroll.js}"></script>

<!--common scripts for all pages-->
<script src="resources/js/scripts.js" th:src="@{/resources/js/scripts.js}"></script>

<!--dynamic table-->
<script type="text/javascript" src="/resources/js/advanced-datatable/js/jquery.dataTables.js" th:src="@{/resources/js/advanced-datatable/js/jquery.dataTables.js}"></script>
<script type="text/javascript" src="/resources/js/data-tables/DT_bootstrap.js" th:src="@{/resources/js/data-tables/DT_bootstrap.js}"></script>
<!--dynamic table initialization -->
<script src="/resources/js/dynamic_table_init.js" th:src="@{/resources/js/dynamic_table_init.js}"></script>
		
</div>

</html>
